<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile -->
  <!-- ============================================================== -->
  <li class="nav-item" ngbDropdown placement="bottom-end" style="color:white">
    <i class="bi bi-person-circle"></i>
    <span class="ms-2">{{username}}</span>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
