<div class="card" style="width: 40%; margin:auto"  >
  <h4 style="text-align: center;" class="card-header">Demander un chéquier
      <br> 
      <img
      src="assets/images/icons/check-book.png"
      alt="check-book"
      class="dark-logo"
      width="100"
    />
  </h4>
  <div class="card-body">
      <form [formGroup]="form" >

        <div class="form-group">
          <label for="ribTo">RIB</label>
          <input type="text" formControlName="rib" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rib.errors }" />
          <div *ngIf="submitted && f.rib.errors" class="invalid-feedback">
              <div *ngIf="f.rib.errors.required">saisir RIB</div>
          </div>
      </div>
      <br>

          <div class="form-group">
              <label for="nbCheck">Nombre de chèques</label>
              <select id="nbCheck" formControlName="nbCheck" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nbCheck.errors }">
                <option value=""></option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
          </div>
          <br>
          <div class="form-group">
              <label for="barre">Barré</label>
              <select id="barre" formControlName="barre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.barre.errors }">
                <option value=""></option>
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
          </div>

          
      <br>
          <div class="form-group" style="text-align: center;">
              <button [disabled]="loading" class="btn btn-light" (click)="send()">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Confirmer
              </button>
              <a routerLink="/" class="btn btn-light" style="margin-left: 10px;">Annuler</a>
          </div>
      </form>
  </div>
