
<div style="text-align: center;">
  <b class="logo-icon">
    <img
      class="dark-logo"
      src="assets/images/bg/cheque.png"
      alt="Card image cap"
    />
  </b>
</div>


<div class="p-3">
    <h4 class="card-title mb-0">Commander un chéquier</h4>
  </div>
  <div class="card-body border-top">
    <form class="row g-3">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">CIN</label>
        <input type="text" class="form-control" id="validationDefault01" value="12345678" required disabled>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Nom</label>
        <input type="text" class="form-control" id="validationDefault02" value="Medini" required disabled>
      </div>
      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Prenom</label>
        <input type="text" class="form-control" id="validationDefault03" value="Nada" required disabled>
      </div>
      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
          <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required placeholder="username" value="username">
        </div>
      </div>
      <div class="col-md-4">
          <label for="validationDefault03" class="form-label"> Numéro Téléphone</label>
          <input type="number" class="form-control" id="validationDefault03" required placeholder="Numéro de téléphone" value="99494447">
      </div>
      
      <div class="col-12">
        <button class="btn btn-info" type="submit">Commander</button>
      </div>
    </form>

 
</div>
